.transactionHistory {
  border: 2px solid grey;
  border-radius: 2px;
  /* background-color: azure; */
}
.tableTitle {
  color: aliceblue;
  font-size: 22px;
  background-color: rgba(92, 174, 209, 0.772);
}
.tablElement1 {
  width: 200px;
  height: 50px;
  border: 1px solid lightgrey;
  font-size: 18px;
}
.tablElement2 {
  width: 100px;
  height: 50px;
  border: 1px solid lightgrey;
  font-size: 18px;
}
.tablElement3 {
  width: 100px;
  height: 50px;
  border: 1px solid lightgrey;
  font-size: 18px;
}
.tableColor1 {
  background-color: rgba(219, 219, 219, 0.463);
}
.tableColor2 {
  background-color: white;
}
